<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDerivativesCalculator" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/Derivatives/CalculatorService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDerivativesCalculator"
                contract="IDerivativesCalculator" name="BasicHttpBinding_IDerivativesCalculator" />
        </client>
    </system.serviceModel>
</configuration>